{{- $choices := list "yw-macbook-pro" "yw-mac-mini" -}}
{{- $profile := promptChoiceOnce . "profile" "Profile" $choices -}}

[data]
    profile = {{ $profile | quote }}
    is_mbp = {{ eq $profile "yw-macbook-pro" }}
    is_mini = {{ eq $profile "yw-mac-mini" }}
